.sottolineaNo:after {
    content: "";
    display: block;
    bottom: 0;
    height: 3px;
    background-color: currentColor;
    position: absolute;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    width: 100%;
}
.sottolineaSi:after {
    content: "";
    display: block;
    bottom: 0;
    height: 3px;
    background-color: currentColor;
    position: absolute;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
    -webkit-transform: scaleX(0);
    transform: scaleX(1);
    width: 100%;
}



.main-row-3 li {
    
    position: relative;
   
}

.altezza {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.altezza nav {
    height: 100%;
}
.altezza nav ul {
    height: 100%;
}
.altezza nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}


.oscurante-dropdown-desk {
    background-color: #00CB6A;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 0;
}

.row-ful-abs {
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    z-index: -1;
}
header {
    position: sticky;
    top: 0px;
    margin-top: 50px;
    z-index: 2;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-full {
    width: 100%;
    display: flex;
    justify-content: center;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: #D1D1D1;
    padding: 0px 40px;
    background-color: #FFFFFF;
    z-index: 9999;
}
.main-row-1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.main-row-1 > p {
    font-size: 13.5px;
    font-weight:  400;
    color: #5D7079;
}
.button-contact-header {
    border: 1px solid #fff;
    padding: 3px 10px;
    border-radius: 20px;
    background-color: #fff;
}  
.button-contact-header:hover {
    border: 1px solid #CACACA;
    padding: 3px 10px;
    border-radius: 20px;
    background-color: #F6F6F6;
}  
.box-info {
    display: flex;
    height: 55px;
    align-items: center;
}
.box-info > div {
 margin-left: 25px;
   display: flex;
    justify-content: center;
    align-items: center;
}
.box-info div:last-child {
    margin-left: 70px;
}
.box-info div img {
    margin-right: 5px;
}
.box-info a {
    text-decoration: none;
    font-weight: 500;
    font-size: 13.5px;
    color:#5D7079;
}
.input-header-resize {
    height: 35px!important;
    transition: all 0.2s;
}
.cerca-resize {
    height: 25px!important;
    width: 25px!important;
    transition: all 0.2s;
}
.tasti-log-resize {
    height: 35px!important;
    transition: all 0.2s;
}

.box-language a {
    font-size: 15px;
    color: #1B1B1B;
}
.lang-active {
    color: #0058BF;
    font-weight: 600;
}
#apri-drop-desk {
    cursor: pointer;
}
.row-full-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 40px;
    background-color: #FFFFFF;
    z-index: 9999;
}
.main-row-2 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    transition: all 0.2s;
}
.main-row-2 .col-33 {
    display: flex;
    flex-direction: row;
}
.main-row-2 .col-33 > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-row-2 .col-33 .login {
    margin-left: 15px;
    border: 0px solid #CACACA;
    padding: 4px 10px;
    border-radius: 20px;
    background-color: #fff;
    transition: background-color 0.5s;
    color: #2C333A;
    height: 40px;
    transition: all 0.3s;
}
.main-row-2 .col-33 .login:hover {
    background-color: #F6F6F6;
    filter: drop-shadow(0px 2.5px 2px rgba(0, 0, 0, 0.15));
    transition: background-color 0.5s;
}
.main-row-2 .col-33 .login svg {
    margin-right: 5px;
}
.login-registrati {
    background-color: #3D74A6!important;
    border: 1px solid #3D74A6!important;
    color: #fff!important;
    padding: 4px 25px!important;

}
.login-registrati a{
    font-weight: 300!important;
    color: #fff!important;
    font-size: 15px!important;
}




.main-row-2 .col-33 > div img {
    margin-right: 5px;
   
}
.main-row-2 .col-33 > div a {
text-decoration: none;
font-weight: 500;
font-size: 14px;
color:#2C333A;
}
.main-row-2 .col-33 input {
background: #FFFFFF;
border: 1px solid #CACACA;
border-radius: 20px;
height: 40px;
font-weight: 500;
font-size: 15px;

width: 370px;
transition: all 0.3s!important;

margin: 0px 13px;
padding-left: 60px;
}
.main-row-2 .col-33 input:focus {
  
    outline:none;
    border: 2px solid #0088CC;
    
}
.main-row-2 .col-33 input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2C333A;
    opacity: 1; /* Firefox */
    font-weight: 500;
font-size: 14px;
font-family: Poppins;
  }

.ricerca-focus {
    width: 500px!important;
   transition: all 0.3s!important;
}

.ricerca-no-focus {
    width: 240px!important;
    transition: all 0.3s!important;
}



.freccia-menu {
    transform: rotate(-90deg);
    transition: transform 0.5s;
}

.freccia-menu-chiudi {
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.box-input {
    position: relative;
}

.container-ico-cerca {
    position: absolute;
    left: 20px;
    border: 1px solid #018762;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #018762;
    transition:  all 0.3s;
}
.box-input img{
    width: 50%;
    margin-right: 0px!important;
}
.row-full-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #3D74A6;
    padding: 0px 40px;
    z-index: 9999;
}
.sfumata-scroll {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.20));
}
.altezza-ridotta {
    height: 65px;
    transition: all 0.3s;
}
.main-row-3 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}
.main-row-3 ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   padding: 0px;
}
.main-row-3 ul li {
    list-style-type: none;
    margin-right: 35px;
}
.current-page {
    text-decoration: underline !important;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under; 
    border-radius: 0px;
}
.main-row-3 ul a {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 7px 0px;
    margin: 0px 0px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.button-outlet { 
    /* background-color: #2B3D50; */
    border: 0px solid #FFFFFF;
    border-radius: 20px;
    padding: 0px 12px 0px 45px;
    transition: background-color 0.3s;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-outlet:hover {
    /* background-color: #2B3D50; */
    filter: drop-shadow(0px 2.5px 2px rgba(0, 0, 0, 0.15));
    transition: background-color 0.5s;
}
.button-outlet a {
    color: #fff;
    text-decoration: none;
    margin-left: 7px;
    font-size: 14px;
    font-weight: 500;
    z-index:10;
    display: inline-block;
}
.button-outlet img {
    position: absolute;
    left: 10px;
    top: 4px;
    z-index:9;
    width: 30px;
}
.button-outlet svg {
    fill: #fff;
    margin-right: 7px;
    position: relative;
    top: 5px;
    
}


/* menu a tendina desktop */
@keyframes spostamenu {
    0%{transform: translateX(-1300px);}
    100%{transform: translateX(0px);}
}
.container-drop {
  display: flex;
  max-width: 1440px;
  width: 100%;
  padding: 25px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}
.dop-col-25 {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #AEB3B9;
    padding: 10px 30px;
    position: relative;
    width: 20%;
}
.dop-col-25 p {
    color: #555A5F;
    font-size: 15px;
}
.dop-col-25 h3 {
    font-size: 20px;
    font-weight: 600;
    color: #2C333A;
    padding-bottom: 20px;
}
.dop-col-25:last-of-type {
    border-width: 0px 0px 0px 0px;
}
.dop-col-25 a {
text-decoration: none;
}
.dop-col-25 img {
    transform: scale(1);
    transition: transform 0.8s;
}
.dop-col-25:hover img {
 transform: scale(1.15);
 transition: transform 0.5s;
 
}
.container-img-col-25 {
    overflow: hidden;
    padding-bottom: 20px;
}
/* Partenza */
.dropdown-desk {
    position: absolute; 
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 40px;
    transform: translateY(-450px);
    opacity: 0%;
    z-index: 1;
}
/* Arrivo */
.muovi-drop-desk {  
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 40px;
    transform: translateY(0px);
    transition: transform 1s , opacity 1s;
    opacity: 100%;
}
/*UScita*/
.esci-drop-desk {  
    transform: translateY(-450px);
    transition: transform 1s , opacity 1s;
    opacity: 0%;
}
.base-modulo-login {
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    position: fixed;
    left: 50%;
    top: 110%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:10000;
    padding: 30px 40px;
    color: #2C333A;
    opacity: 10%;
}
.entra-login {
   top: 50% ;
   opacity: 100%;
   transition: top 1s , opacity 1s;
}
.base-modulo-login h2 {
    margin-bottom: 40px;
}
.base-modulo-login form {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
}
.base-modulo-login form > input {
    margin-bottom: 15px;
    padding: 9px 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    border: 2px solid #E9E9E9;
    background-color: #E9E9E9;
}


.base-modulo-login form > input:focus {
    outline:none;
    border: 2px solid #0088CC;
}



.container-checkbox {
    display: flex;
    margin-bottom: 30px;
}
.container-checkbox input {
    margin-right: 10px;
    width: 16px; 
    cursor: pointer;
}
.container-checkbox p {
    font-size: 14px;
    font-weight: 300;
}
.base-modulo-login form > button {
    margin-bottom: 30px;
    padding: 9px 20px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    background-color: #3D74A6;
    color: #FFFFFF;
    font-weight: 500;
    border: 0px solid #BABABA;
    cursor: pointer;
}
.base-modulo-login form > button:hover {
    background-color: #4F8CC3;
}
.base-modulo-login p {
    font-size: 15px;
    
}
.base-modulo-login p > a {
    color: #2C333A;
    text-decoration: none;
    font-size: 15px;
}
.base-modulo-login p > a:hover {
    color: #3D74A6;
}
.sfondo-container-login {
    background: rgba(69, 69, 69, 0.5);
    width:100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index:9999;
}
.no-account {
    margin-top: 10px;
}

.reg-preselect {
    background-color: #D6E6EF!important;
}

/* ----------------  @MEDIA  --------------------  */

@media only screen and (min-width: 1101px) {
    .main-container-mobile,
    .dropdown-mobile-overlay,
    #sfondo-menu-mob {
        display: none;
    } 
    .box-input:first-of-type {
        margin-right: 10px;
    }
}



@media only screen and (min-width: 1100px) and (max-width: 1430px){
    .row-full {
        display: none;
    }
    header {
        margin-top: 0px;
    }
}


@media only screen and (min-width: 1100px) and (max-width: 1280px){
    .main-row-2 .col-33 input {
        width: 250px;
    }
}




    

@media only screen and (max-width: 1100px) {
    .dropdown-desk,
    .row-full,
    .row-full-2,
    .row-full-3 {
        display: none;
    }
    .row-full-mob {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px;
        position: fixed;
        top:0px;
        left:0px;
        width:100%;
        z-index: 3;
        background-color: #ffffff;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.11);
    }
    .col-25-mob {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hambu {
        margin-right: 20px;
        cursor: pointer;
    }
    .mob-log {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    .mob-log a {
        text-decoration: none;
        font-size: 13px;
        color: #2C333A;
    }
    .mob-log img {
        cursor: pointer;
        width: 35%;
    }
    .row-full-2-mob {
     padding: 10px 15px;
     margin-top: 80px;
    }
    .row-full-2-mob input {
        background: #FFFFFF;
    border: 2px solid #CACACA;
    border-radius: 20px;
    height: 45px;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    margin: 0px 0px;
    padding-left: 50px;
    }
    .box-input {
        position: relative;
    }
    .box-input:first-of-type {
       margin-bottom: 12px;
    }

    .container-ico-cerca {
        position: absolute;
        left: 10px;
        top:7px;
        border: 1px solid #018762;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #018762;
    }
    .box-input img{
        width: 50%;
        margin-right: 0px!important;
    }



    
  .dropdown-mobile-overlay {
        background: rgba(69, 69, 69, 0.4);
        /* backdrop-filter: blur(2px); */
        position: fixed;
        top:0px;
        height: 100vh;
        width: 100%;
  }
    .dropdown-mobile {                                       /*PRIMA tendina*/
        background-color: #fff;
        filter: drop-shadow(5px 0px 18px rgba(0, 0, 0, 0.1));
        position: absolute;
        top:0px;
        transform: translateX(-550px);
        height: 100vh;
        width: 80%;
        max-width: 530px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px 20px;
    }
    .dropdown-mobile-enter {                                /*entrata*/
        background-color: #fff;
        filter: drop-shadow(5px 0px 18px rgba(0, 0, 0, 0.1));
        position: absolute;
        top:0px;
        transform: translateX(0px);
        height: 100vh;
        width: 80%;
        max-width: 530px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px 20px;
        transition: transform 1s;
    }
    .dropdown-mobile-exit {
        transform: translateX(-550px);  
        transition: transform 1s;
    }
    .row-2-drop-menu ul {
        padding: 0px;
    }
    .row-2-drop-menu ul img {
      margin-left: 5px;
      transition: transform 0.3s;
    }
    #apri-second-menu:hover img {
        transform: translateX(30px) scale(1.4);
        transition: transform 0.6s;
    }
    .row-2-drop-menu a {
        display: block;
        padding: 15px 8px;
        text-decoration: none;
        font-size: 16px;
        color: #2C333A;
        transition: background-color 0.5s;
        border-radius: 10px;
    } 
    .row-2-drop-menu a:hover {
        background-color: #D9D9D9;
        transition: background-color 0.5s;
    }
    .row-2-drop-menu ul li {
        list-style-type: none;
        margin-bottom: 10px;
    }
    .row-3-drop-menu {
        display: flex;
        justify-content: flex-end;
    }
    .row-3-drop-menu h3 {
       margin-left: 13px;
    } 
    .row-3-drop-menu a {
        text-decoration: none;
        color: #2C333A;
    }
    .area-click-to-close {
        position: absolute;
        height: 100vh;
        top:0px;
        right: 0px;
        width: 58%;
        z-index: -1;
    }
    .secondo-dropdown-mobile {                         /*seconda tendina*/
        background-color: #fff;
        position: absolute;
        top:0px;
        transform: translateX(-550px);                 /*DI DEFAULT FUORI SCHERMO*/
        height: 100vh;
        width: 80%;
        max-width: 530px;
        display: flex;
        flex-direction: column;
        padding: 15px 0px 50px 20px;
        overflow-y: scroll;
    }
    .entra-secondo-dropdown-mobile {                  /*seconda tendina*/
        background-color: #fff;
        position: absolute;
        top:0px;
        transform: translateX(0px);                   /*ENTRATA */
        height: 100vh;
        width: 80%;
        max-width: 530px;
        display: flex;
        flex-direction: column;
        padding: 15px 10px 50px 20px;
        overflow-y: scroll;
        transition: transform 1s;
    }
    .uscita-secondo-dropdown-mobile {
        transform: translateX(-550px);  
        transition: transform 1s;
    }
    .mob-col {
        border-width: 0px 0px 1px 0px;
        border-color: #BABABA;
        border-style: solid;
        margin-bottom: 20px;
        padding: 35px 45px 25px 0px;
    }
    .mob-col img {
        margin-bottom: 10px;
    }
    .mob-col h3 {
        margin-bottom: 20px;
        color: #2C333A;
    }
    .mob-col-indietro {
        position: sticky;
        top: 5px;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
    .mob-col-indietro img {
    transition: transform 0.3s;
    }
    .mob-col-indietro img:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
    }
    .mob-col p {
        font-size: 15px;
        color: #555A5F;
        padding-top: 10px;
    }
    .mob-col a {
        text-decoration: none;
    }
    .base-modulo-login {
        width: 94%;
    }
    .row-ful-abs {
        display: none;
    }
    header {
        position:relative;
        margin-top: 0px;
    }
      #sfondo-menu-mob {
        position: fixed;
        top:0px;
        left:0px;
        z-index: 4;
      }
    
}