.margin-section {
    width: 100%;
    padding: 0px 40px;
}
.footer {
    background-color: #ECECEC;
    
}

.section-footer {
    margin: 0px auto 0px; 
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 65px;
}
.margin-section-footer {
    width: 100%;
}
.section-footer .colonnina-16 {
    width: 16%;
}
.note-diritti {
    margin: 0px auto 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #343434;
}
.note-diritti p {
    font-size: 13.5px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 0.02em;
}
.note-diritti a {
    color: #fff;
    text-decoration: none;
}
.note-diritti a:hover {
    text-decoration: underline;
    color: #fff;
}    
.section-footer ul {
    list-style-type: none;
    padding-left: 0px;
}

.section-footer .colonnina-16 h3 {
    padding-bottom: 20px;
    color: #222222;
}
.section-footer .colonnina-16 a {
    text-decoration: none;
    color: #222222;
}
.section-footer .colonnina-16 a:hover {
    text-decoration: underline;
    color: #0088CC;
}
.contatti-footer {
    padding-top: 25px;
}
.section-footer p,
.section-footer a {
    font-size: 15px;
}
 
@media only screen and (max-width: 1280px){
    .section-footer {
        
        padding: 35px 15px 65px;
       
    }
}    
@media only screen and (max-width: 700px) {
    .section-footer {
        margin: 0px auto 0px; 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px 15px 65px;
        width: 100%;
       gap: 20px;
    }
    
    .section-footer .colonnina-16 {
        width: calc(50% - 20px) ;
        padding-bottom: 50px;
    }
    .section-footer .colonnina-16:first-of-type {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section-footer .colonnina-16 img {
        padding-top: 80px;
        width:160px;
    }
    .note-diritti {
        margin: 0px auto 0px;
        display: flex;
        justify-content: center;
        width: 100%;
        
        padding: 28px 15px;
        background-color: #343434;
    }
}    