.section-1 {
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    margin: 10px auto 0px;
    
}
.section-1 .container-1 {
    width: 100%;
    padding: 50px 0px;
  
    
}
.titolo-1 {
    margin-bottom: 25px;
}
.titolo-1 h2 {
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;
    color: #2C333A;
}
.base-section-list {
    width: 100%;
    background-color: #F4F4F4;
    border: 1px solid #DDDDDD;
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.list-intestazione {
    width: 100%;
    
    padding: 15px 25px;
    background-color: #D9D9D9;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 15px;
}
.list-corpo {
    width: 100%;
    
    padding: 0px 25px 10px;
}
.riga {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* overflow: hidden; */
    
}
.col-tabella {
    
    /* width: 8.333333333333333%; */
    margin-right: 16px;
}
.col-tabella>h5 {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #696969;
}
/* largezze minime delle colonne    290-------------------------*/
.col-descrizione {
    min-width: 370px;
}
.col-cestino {
    max-width: 50px;
}
.col-modello {
    min-width: 140px;
    
}
.col-oem {
    min-width: 100px;
    
}
.col-dtk {
    min-width: 90px;
    
}
.col-img {
    min-width: 55px;
    
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
}
.col-marca {
    min-width: 80px;
    
}
.col-kit {
    max-width: 40px;
    
}

.col-prezzo {
    width: 60px;
}
.col-conf {
    width: 60px!important;
}

/* largezze minime delle colonne-------------------------*/
.base-prodotto-cart {
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #dddddd;
    /* filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.2)); */
}
.col-tabella>h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 21px;
    color: #2C333A;
}
.col-descrizione p {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #5D7079;

}
.quantita {
    display: flex;
    background-color: #F5F5F5;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    padding: 1px 0px;
}
.quantita img {
    border-radius: 50%;
    cursor: pointer;
    width:24px;
}
.col-img img {
    width: 100%;
    
}
.col-img,
.col-kit,
.col-cestino {
    display: flex;
    align-items: center;
}
.col-tot h3 {
    font-size: 16px;
line-height: 16px;
color: #2C333A;
}
.col-cestino {
    justify-content: flex-end;
    padding-right: 10px;
}
.prodotto-carrello {
    margin-bottom: 8px;
}

.col-cestino img {
    cursor: pointer;
}
.col-modello,
.col-oem {
    display: flex;
    flex-direction: row;
    
    justify-content:flex-start;
    align-items: center;
}
.col-modello,
.col-oem  {
    cursor: pointer;
    position: relative;
    
}    
.col-modello img, 
.col-oem img {
    margin-left: 8px;
}


.container-altri-oem {
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: #fff;
    box-shadow: 2px 2px 14px rgba(43, 40, 40, 0.1);
    border: 1px solid #DCDCDC;
    width: 250px;
    border-radius: 10px;
    padding: 20px;
    cursor:default;
    z-index: 9999;
}
.titolo-pop {
    font-weight: 500;
font-size: 13px;
line-height: 21px;
color: #0088CC;
margin-bottom: 10px;
}
.testo-pop {
    font-weight: 400;
font-size: 12px;
line-height: 21px;
color: #5D7079;
}

.img-big {
    border: 1px solid #DCDCDC;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 270px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 14px rgba(43, 40, 40, 0.1);
    overflow: hidden;
}
.col-img {
    cursor: pointer;
}
.carrello-vuoto {
    text-align: center;
}
.section-2 {
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    margin: 10px auto 0px;
    
}
.section-2 .container-2 {
    width: 100%;
    padding: 0px 0px;
  
    
}
.container-2 {
    
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: center;
}

.col-grande,
.col-piccola {
    border: 1px solid #DDDDDD;
    background-color: #F4F4F4;
    border-radius: 10px;
    

}
.col-grande {
    width: 65%;
    margin-right: 15px;
}
.col-piccola{
    width: 35%;
    margin-left: 15px;
}
.row-titolo {
    background-color: #D9D9D9;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 25px;
}
.row-titolo h3 {
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;
    color: #2C333A;
   
}
.row-text {
    padding: 5px 25px;
}

.row-text textarea {
    width: 100%;
    resize: none;
    background-color: #F4F4F4;
    border: 0px solid #F4F4F4;
    padding-top: 15px;
    font-family: Poppins;
    max-height:100px
} 

textarea:focus {
    outline: 0px solid #F4F4F4;
}
.col-piccola {
    padding: 35px 50px 25px;
}
.riga-subtot h4, 
.riga-subtot h5 {
font-weight: 500;
font-size: 15px;
line-height: 21px;
color: #5D7079;
}

.riga-subtot {
    border: 1px solid #E2E2E2;
    border-width: 0px 0px 1px 0px;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
}
.riga-subtot:last-of-type {
    border: 0px solid #E2E2E2;
}
.riga-subtot:first-of-type {
    padding-top: 0px;
}
.avviso-spediz {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.avviso-spediz img {
    margin-right: 6px;
    width: 15px;
}
.avviso-spediz p {
font-weight: 500;
font-size: 12px;
line-height: 21px;
color: #5D7079;
}
.bold h4,
.bold h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #5D7079;
}
.section-3 {
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    margin: 50px auto 0px;
    
}
.section-23 .container-3 {
    width: 100%;
    padding:  0px 0px;
  
    
}
.container-3 {
    
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    background-color: #fff;
    border-radius: 10px;
}
.prima-riga {
    background-color: #D9D9D9;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prima-riga h3 {
    
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;
    color: #2C333A;
}
.seconda-riga {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.col25 {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 35px 20px;
}
.tab-pagamenti {
    width: 100%;
    background: #F4F4F4;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: space-between;
    cursor: pointer;
}
.titolo-tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.testo-tab {
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    width: 100%;
    min-height: 44px;
}
.titolo-tab img {
    width: 45px;
    margin-right: 15px;
}
.titolo-tab h4 {
    font-weight: 500;
font-size: 15px;
line-height: 21px;

color: #5D7079;
}
.testo-tab p {
    font-weight: 500;
font-size: 14px;
line-height: 22px;
color: #5D7079;
}
.col25 > p {
    font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #2C333A;
margin-bottom: 15px;
}
.linee {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container-ico {
    display: flex;
    justify-content: center;
    align-items: center;
}
.select {
    padding: 0px;
}
.select select {
    width: 100%;
    height: 100%;
}
.linee select {
    width: 100%;
    min-height: 44px;
    padding: 9px 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    border: 1px solid #dddddd;
    background-color: #FFF;
    color: #717171;
    margin-right: 15px;
    cursor: pointer;

}
.container-ico img {
    width: 30px;
    cursor: pointer;
    transition: all 0.2s;
}
.container-ico img:hover {
    transform: scale(1.2);
}
.selezionata {
    

    filter: drop-shadow(0px 0px 15px #0088CC);
}

.tab-pagamenti:hover {

    filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.2));
}
.selezionata:hover {
    
    
    filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.2));
    }

.cestino {
    transition: all 0.2s;
    width: 15px;
}

    .cestino:hover {
        transform: rotate(18deg);
    }


    .quantita img:hover {
        filter: drop-shadow(0px 2.5px 2px rgba(0, 0, 0, 0.15));
    }

    .section-4 {
    
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1350px;
        width: 100%;
        margin: 50px auto 0px;
        
    }
    .section-4 .container-4 {
        width: 100%;
        padding: 0px 0px;
      
        
    }
    .p-metodo-select {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #696969;
    }

    .container-4 {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 50px;
    }
    .col25-fin {
        width: 33%;
        background-color: #F4F4F4;
        border: 1px solid #DDDDDD;
        border-radius: 10px;
        margin-right: 30px;
    }
    .col25-fin:last-of-type {
        
        margin-right: 0px;
    }
    .fin-row-1 {
        
            background-color: #D9D9D9;
            border-radius: 10px 10px 0px 0px;
            padding: 5px 25px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        
    }
    .fin-row-1 h3 {
                 font-weight: 400;
            font-size: 27px;
            line-height: 40px;
            color: #2C333A;
      
    }
    .fin-row-cont {
        color: #5D7079;
        padding: 30px 25px;
        
    }
    .fin-row-cont p {
        font-size: 14px;
        margin-top: 6px;
    }
    .flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 5px!important;
        padding-top: 5px!important;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .flex img {
        width: 30px;
        margin-right: 25px;
    }
    .flex:last-of-type {
        margin-bottom: 0px;
    }
    .tab-descriz {
        margin-top: 65px;
    }
    .flex:hover {
        filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0px 14px);
    }
    .container-5 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-button-product {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: stretch;
        background-color: #018762;
        border-radius: 20px;
        margin-top: 20px;
    }
    .container-button-product a {
        text-align: center;
        display: block;
        width: 100%;
        align-self: center;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        padding-left: 10px;
    }
    .container-button-product img {
        width: 7px;
        align-self: center;
        margin-right: 10px;
    }
    .container-button-product:hover {
        background-color: #004A36;
    }
    .max {
        max-width: 210px;
    }
    .max:first-of-type {
        margin-right: 10px;
    }
    .max:last-of-type {
        margin-left: 10px;
    }
    .container-5 {
       
        margin-bottom: 90px;
    }

    .valore-singolo,
    .valore-totale{
        font-size:14.5px!important;
    }
    .bolding {
        font-weight: 700;
    }

    .no-padding {
        padding-top: 0px!important;
    }
    .mini-font {
        font-size: 11px;
    }
    .col-evadere h5 {
        position: relative;
    }
    .abs-text {
        position: absolute;
        font-size: 12px;
        width: 80px;
        left: 0px;
        top: 15px;
    }
    .riga-data p {
        font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #696969;
    }
    .riga-data {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        padding-top: 15px;
    }
    .riga-data p:first-of-type {
        margin-right: 25px;
    }
    .riga-data p span {
        font-weight: 500;
    
    }
    .col-confirm {
        position: relative;
    }
    .col-confirm img:first-of-type {
        margin-right: 8px;
    }
    .col-conf img {
        transition: all 0.2s;
    }
    .col-confirm img:hover {
        transform: scale(1.1);
    }
    .context {
        position: absolute;
        bottom:25px;
        background-color: #F4F4F4;
        border: 1px solid #DDDDDD;
        padding: 3px;
        border-radius: 10px;
        z-index: 9999;
    }
    .context p {
        font-size: 11px;
    }
    .primo-blocco {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .secondo-blocco {
        display: flex;
        justify-content: flex-start;
        align-items: center;
       
    }
    .terzo-blocco {
        display: flex;
        justify-content: flex-start;
        align-items: center;
       width: 100%;
       
    }
    .terzo-blocco > div:nth-child(1) {
        
        width: 80px;
    }
    .quarto-blocco {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .col-evadere {
        width: 75px;
    }
    .col-img-back-order {
        width: 60px !important;
    }
    .col-qnt {
        width: 75px;
    }
    .col-tot-back {
        margin-right: 35px;
    }
    .blocco-descr-mob {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    


    @media only screen and (min-width: 1140px) and (max-width: 1490px) {
        .list-intestazione {
            display: none;
        }
        .list-corpo {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            gap: 15px;
        }
        .list-corpo-back {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 15px;
        }


        .mobil-col {
            display: flex;
            flex-direction: column;
            
        }
        .blocco-descr-mob {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
           max-width: 75%;
          
        }
        .blocco-img {
            max-width: 25%;
           
            position:relative;
        }
        .primo-blocco {
            width: 90%;
            border-bottom: 1px solid #BCBCBC;
            padding: 5px 0px;
        }
        .col-descrizione {
            min-width: 100%;
            margin-right: 0px;
        }
        .secondo-blocco {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0px;
        }
        .quarto-blocco {
            justify-content: flex-end;
            position: absolute;
            top: 15px;
            right: 15px;
        }
        .terzo-blocco {
            display: flex;
            justify-content: flex-start;
            align-items: center;
           width: 90%;
           
           background-color: #D9D9D9;
           padding: 10px;
           border-radius: 15px;
           margin-bottom: 15px;
        }
        .col-cestino {
            margin-right: 0px!important;
            padding-right: 0px;
        }
        .col-conf {
            width: 100%!important;
            margin-right: 0px!important;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .list-corpo {
            
            padding: 10px 25px 10px;
        }
        .col-kit {
            position: relative;
        }
        .col-kit::before {
            content: 'Kit';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .col-conf::before {
            content: 'Conf. da';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }

        .primo-blocco .col-dtk {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .primo-blocco .col-dtk::before {
            content: 'Codice Dtk';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .primo-blocco .col-marca {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .primo-blocco .col-marca::before {
            content: 'Marca';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .primo-blocco .col-oem {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .primo-blocco .col-oem::before {
            content: 'OEM';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .terzo-blocco .col-qnt {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
        }
        .terzo-blocco .col-qnt::before {
            content: 'Quantità';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .terzo-blocco .col-prezzo-parz {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
        }
        .terzo-blocco .col-prezzo-parz::before {
            content: 'Prezzo';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-bottom: 4px;
        }
        .terzo-blocco .col-prezzo-sconto {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
        }
        .terzo-blocco .col-prezzo-sconto::before {
            content: 'Sconto';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-bottom: 4px;
        }
        .terzo-blocco .col-tot {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
        }
        .terzo-blocco .col-tot::before {
            content: 'Tot.';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-bottom: 7px;
        }
        .secondo-blocco .col-qnt {
            display: flex;
            flex-direction: row;
            align-items: center;
            
        }
        .secondo-blocco .col-qnt::before {
            content: 'Conf. da';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        
    }

    @media only screen and (min-width: 785px) and (max-width: 1139px) {
        .list-corpo{
            display: grid;
            grid-template-columns: 45% 45%;
            gap: 15px;
        }
        .list-corpo-back {
            display: grid;
            grid-template-columns: 90%;
            gap: 15px;
        }
        .list-intestazione {
            display: none;
        }
        
        .mobil-col {
            display: flex;
            flex-direction: column;
            
        }
        .blocco-descr-mob {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
           max-width: 75%;
          
        }
        .blocco-img {
            max-width: 25%;
           
            position:relative;
        }
        .primo-blocco {
            width: 90%;
            border-bottom: 1px solid #BCBCBC;
            padding: 5px 0px;
        }
        .col-descrizione {
            min-width: 100%;
            margin-right: 0px;
        }
        .secondo-blocco {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0px;
        }
        .quarto-blocco {
            justify-content: flex-end;
            position: absolute;
            top: 15px;
            right: 15px;
        }
        .terzo-blocco {
            display: flex;
            justify-content: flex-start;
            align-items: center;
           width: 90%;
           
           background-color: #D9D9D9;
           padding: 10px;
           border-radius: 15px;
           margin-bottom: 15px;
        }
        .col-cestino {
            margin-right: 0px!important;
            padding-right: 0px;
        }
        .col-conf {
            width: 100%!important;
            margin-right: 0px!important;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .list-corpo {
            
            padding: 10px 25px 10px;
        }
        .col-kit {
            position: relative;
        }
        .col-kit::before {
            content: 'Kit';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .col-conf::before {
            content: 'Conf. da';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }

        .primo-blocco .col-dtk {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .primo-blocco .col-dtk::before {
            content: 'Codice Dtk';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .primo-blocco .col-marca {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .primo-blocco .col-marca::before {
            content: 'Marca';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .primo-blocco .col-oem {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .primo-blocco .col-oem::before {
            content: 'OEM';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .terzo-blocco .col-qnt {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
        }
        .terzo-blocco .col-qnt::before {
            content: 'Quantità';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .terzo-blocco .col-prezzo-parz {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
        }
        .terzo-blocco .col-prezzo-parz::before {
            content: 'Prezzo';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-bottom: 4px;
        }
        .terzo-blocco .col-prezzo-sconto {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
        }
        .terzo-blocco .col-prezzo-sconto::before {
            content: 'Sconto';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-bottom: 4px;
        }
        .terzo-blocco .col-tot {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
        }
        .terzo-blocco .col-tot::before {
            content: 'Tot.';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-bottom: 7px;
        }
        .container-2{
            flex-direction: column;
        }
        .container-2 .col-piccola {
            width: 100%;
            margin-left: 0px;
        }
        .container-2 .col-grande {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 15px;
        }
        .container-3 .seconda-riga {
            flex-wrap: wrap;
        }
        .container-3 .seconda-riga .col25{
            min-width: 50%!important;
        }
        .container-4{
            flex-wrap: wrap;
        }
        .container-4 .col25-fin {
            min-width: 48%;
            margin-right: 2%;
        }
        .secondo-blocco .col-qnt {
            display: flex;
            flex-direction: row;
            align-items: center;
            
        }
        .secondo-blocco .col-qnt::before {
            content: 'Conf. da';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }

    }



    @media only screen and  (max-width: 784px) {
        .list-corpo {
            display: grid;
            grid-template-columns: 100%;
            gap: 15px;
            padding:8px;
        }
        .list-intestazione {
            display: none;
        }
        
        .mobil-col {
            display: flex;
            flex-direction: column;
            
        }
        .blocco-descr-mob {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
           max-width: 75%;
          
        }
        .blocco-img {
            max-width: 25%;
           
            position:relative;
        }
        .primo-blocco {
            width: 95%;
            border-bottom: 1px solid #BCBCBC;
            padding: 5px 0px;
        }
        .col-descrizione {
            min-width: 100%;
            margin-right: 0px;
        }
        .secondo-blocco {
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0px;
        }
        .quarto-blocco {
            justify-content: flex-end;
            position: absolute;
            top: 15px;
            right: 15px;
        }
        .terzo-blocco {
            display: flex;
            justify-content: flex-start;
            align-items: center;
           width: 95%;
           
           background-color: #D9D9D9;
           padding: 10px;
           border-radius: 15px;
           margin-bottom: 10px;
        }
        .col-cestino {
            margin-right: 0px!important;
            padding-right: 0px;
        }
        .col-conf {
            width: 100%!important;
            margin-right: 0px!important;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
       
        .col-kit {
            position: relative;
        }
        .col-kit::before {
            content: 'Kit';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .col-conf::before {
            content: 'Conf. da';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }

        .primo-blocco .col-dtk {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .primo-blocco .col-dtk::before {
            content: 'Codice Dtk';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .primo-blocco .col-marca {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .primo-blocco .col-marca::before {
            content: 'Marca';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .primo-blocco .col-oem {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .primo-blocco .col-oem::before {
            content: 'OEM';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .terzo-blocco .col-qnt {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
        }
        .terzo-blocco .col-qnt::before {
            content: 'Quantità';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 10px;
        }
        .terzo-blocco .col-prezzo-parz {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
        }
        .terzo-blocco .col-prezzo-parz::before {
            content: 'Prezzo';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-bottom: 4px;
        }
        .terzo-blocco .col-prezzo-sconto {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
        }
        .terzo-blocco .col-prezzo-sconto::before {
            content: 'Sconto';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-bottom: 4px;
        }
        .terzo-blocco .col-tot {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
        }
        .terzo-blocco .col-tot::before {
            content: 'Tot.';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-bottom: 7px;
        }
        .container-2{
            flex-direction: column;
        }
        .container-2 .col-piccola {
            width: 100%;
            margin-left: 0px;
            padding: 15px;
        }
        .container-2 .col-grande {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 15px;
            padding: 15px;
        }
        .container-3 .seconda-riga {
            flex-direction: column;
        }
        .container-3 .seconda-riga .col25{
            min-width: 100%!important;
        }
        .container-4{
            flex-direction: column;
        }
        .container-4 .col25-fin {
            min-width: 100%;
            margin-right: 0px;
            margin-bottom: 20px;
        }
        .secondo-blocco .col-qnt {
            display: flex;
            flex-direction: row;
            align-items: center;
            
        }
        .secondo-blocco .col-qnt::before {
            content: 'Conf. da';
            font-weight: 400;
            font-size: 11px;
            color: #717171;
            margin-right: 5px;
        }
        .container-3 .prima-riga {
            flex-direction: column;
            align-items: flex-start;
            padding: 5px 10px;
        }
        .container-3 .prima-riga h3{
            margin-bottom: 10px;
            font-size: 25px;
        }
        .container-4 .fin-row-1 h3 {
            font-size: 25px;
        }
        .container-2 .row-titolo h3 {
            font-size: 25px;
        }
        .container-2 .row-titolo {
            font-size: 25px;
            padding: 5px 10px;
        }
        .container-4 .fin-row-1{
            padding: 5px 10px;
        }
        .container-5{
            padding: 0px 15px;
        }
    }  