.section-1 {
     
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    margin: 10px auto 0px; 
}
.section-1 .container-1 {
    width: 100%;
    padding: 50px 0px;
    
}
.section-1 .container-2 {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
}   
.titolo {
    font-size: 40px;
    color: #0088CC;
    font-weight: bolder;
}
.allineamento-sx h2,
.allineamento-sx p {
  text-align: left!important;
}
.allineamento-sx {
  align-items: flex-start!important;
}
.container-assistenza p {
    padding-top: 10px!important;
}
.container-2 .col25 {
    background-color: #ECECEC!important;
    border-radius: 20px;
    border: 1px solid #D1D1D1!important;
}
.col25 {
    width: 37%!important;
    padding: 55px 30px!important;
    margin-top: 60px!important;
    margin-bottom: 100px!important;
}
.col75 {
    width: 63%!important;
    margin-right: 50px!important;
}
.container-assistenza:last-of-type {
    margin-bottom: 0px!important;
}
.col25 p::before {
    content:url('../img/ico-mail.svg');
    margin-right: 10px;
}
.base-modulo {
    max-width: 100%!important;
    margin: 0px!important;
    border-radius: 20px!important;
    background-color: #ECECEC!important;
    
    border: 1px solid #D1D1D1!important;
}
.impaginazione-form {
    min-height: 0px!important;
}
.row-full-input {
    width: 100%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}
.input-50 {
    width: 50%!important;
}
.input-50:first-of-type{
    margin-right: 10px;
}
.input-50:last-of-type{
    margin-left: 10px;
}
.col100 {
margin-bottom: 0px!important;
margin-top: 40px!important;
}
.ico-social  {
   transform: scale(1.3);
   margin-right: 15px;
   transition: all 0.2s;
   cursor: pointer;
}
.ico-social:hover path {
    fill: #0071AA;
}
.ico-social:hover {
    transform: scale(1.45);
    
}
.textarea-contatti {
    height: 110px!important;
}
.mod-contatti {
    padding: 35px 35px 35px 35px!important;
}
.par-contatti {
    color: #2C333A!important;
    font-size: 22px!important;
    font-weight: 500!important;
    margin-right: 50px!important;
}
.bottone-contatti-mod {
    color: #fff!important;
    padding: 9px 40px;
    font-size: 17px!important;
    border-radius: 12px!important;
    background-color: #0088CC!important;
    border: 0px solid #BABABA!important;
    cursor: pointer;
}
.bottone-contatti-mod:hover {
    background-color: #0071AA!important;
}
/* ----------------------------------------------media desk---------------------------------------------------------------- */
@media only screen and (min-width: 1281px) {
    .container-2 .col25 {
        position: sticky;
        top: 180px!important;
    }
 }
 /* ----------------------------------------------media notebook---------------------------------------------------------------- */
 @media only screen and (min-width: 1090px) and (max-width: 1280px){
  
 }

 /* ----------------------------------------------media tablet---------------------------------------------------------------- */
@media only screen and (min-width: 701px) and (max-width: 1089px){
    .container-2  {
        flex-direction: column!important;
    }
    .col75 {
   width: 100%!important;
   margin-right: 0px!important;
    }
    .col25 {
        width: 100%!important;
        margin-top: 40px!important;
         }
         .container-2 .col25 {
            max-width: 1100px!important;
         }
         
}    

/* ----------------------------------------------media mobile---------------------------------------------------------------- */
@media only screen and (max-width: 700px) {
    .container-2  {
        flex-direction: column!important;
    }
    .col75 {
   width: 100%!important;
   margin-right: 0px!important;
    }
    .col25 {
        width: 100%!important;
        margin-top: 40px!important;
        padding-left: 15px!important;
        padding-right: 15px!important;
         }
         .container-2 .col25 {
            max-width: 1100px!important;
         }
         .row-full-input {
            width: 100%!important;
            display: flex;
            flex-direction: column!important;
            justify-content: flex-start;
            align-items: flex-start;
        
        }
         .input-50 {
            width: 100%!important;
        }
        .input-50:first-of-type{
            margin-right: 0px;
        }
        .input-50:last-of-type{
            margin-left: 0px;
        }
        .par-contatti {
           
            font-size: 22px!important;
            font-weight: 500!important;
            margin-right: 0px!important;
            margin-bottom: 25px;
        }
        .mod-contatti {
            padding-left: 10px!important;
        padding-right: 10px!important;
        }
}    