.section-1 {
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    margin: 0px auto 0px;
    padding: 15px 0px;
}
.section-1 .container-1 {
    width: 100%;
    padding: 50px 0px;
    
}
.section-1 .container-2 {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 100px;
}   
.titolo {
    font-size: 40px;
    color: #0088CC;
    font-weight: bolder;
    
} 
.titolo-scuro {
    font-size: 27px!important;
    color: #2C333A!important;
    font-weight: 400!important;
}
.col50 {
    width: 50%;
    background-color: #ECECEC;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 20px 30px 20px 20px;
}
.col50:first-of-type {
  margin-right: 12px;
}
.col50:last-of-type {
    margin-left: 12px;
}
.row-titolo {
    
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    margin-bottom: 15px;
    
}
.row-titolo img {
    margin-right: 25px;
}
.row-bottoni {
    
    
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.row-collegamento{
   width: 100%;
   background-color: #fff;
   border-radius: 15px;
   border: 1px solid #DCDCDC;
   padding: 15px 20px;
   margin-bottom: 15px;
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}
.row-collegamento:hover{
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.1));
}



.row-titolo h3 {
    font-weight: 400;
font-size: 22px;
color: #2C333A;
}
 
.row-collegamento h4 {
    font-weight: 400;
    font-size: 16px;
    
    
    color: #3D74A6;
}
.p-big {
    font-weight: 500;
font-size: 17px;



color: #2C333A;
  
}
.p-standard {
    color: #515151;
    font-size: 14px;
}
.spazio {
    margin-top: 23px;
}

.container-1 .p-big {
    margin-bottom: 10px;
}
.back-color {
    background: rgba(79, 140, 196, 0.4);
}
.section-1 .stretto {
    padding: 0px 0px!important;
    display: flex!important;
    align-items: center!important;
}
.titolo-lavora-con-noi::before {
    content: url(../img/ico-lavora-con-noi.svg);
    margin-right: 8px;
    position: relative;
    top: 3px;
}

/* ----------------------------------------------media desk---------------------------------------------------------------- */
@media only screen and (min-width: 1281px) {
   
}

/* ----------------------------------------------media notebook---------------------------------------------------------------- */
@media only screen and (min-width: 1090px) and (max-width: 1280px){

}

/* ----------------------------------------------media tablet---------------------------------------------------------------- */
@media only screen and (min-width: 701px) and (max-width: 1089px){
    .section-1 .container-2 {
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin-bottom: 100px;
    }  
    .col50 {
        width: 100%;
        background-color: #ECECEC;
        border-radius: 20px;
        border: 1px solid #D1D1D1;
        padding: 20px 30px 20px 20px;
    } 
    .col50:first-of-type {
        margin-right: 0px;
        margin-bottom: 35px;
      }
      .col50:last-of-type {
          margin-left: 0px;
      }
      .row-bottoni {
        margin-left: 0px;
      }
}    

/* ----------------------------------------------media mobile---------------------------------------------------------------- */
@media only screen and (max-width: 700px) {
    .section-1 .container-2 {
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin-bottom: 100px;
    }  
    .col50 {
        width: 100%;
        background-color: #ECECEC;
        border-radius: 20px;
        border: 1px solid #D1D1D1;
        padding: 20px 20px 20px 20px;
    } 
    .col50:first-of-type {
        margin-right: 0px;
        margin-bottom: 25px;
      }
      .col50:last-of-type {
          margin-left: 0px;
      }
      .row-bottoni {
        margin-left: 0px;
      }

}    