

.section-1 {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    margin: 10px auto 0px;
    background-image: url('../img/back-chi-siamo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px 40px;
}
.section-1 .container-1 {
    width: 50%;
background: rgba(61, 116, 166, 0.8);
    padding: 45px;
}    

.titolo-sezione {
    font-size: 27px;
    font-weight: 400;
    
  
    color: #fff;
    
}
.section-1 .container-1 p {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
.back-color {
    background-color: #ececec;
}
.section-1b {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    margin: 35px auto 0px;
   
}
.section-1b p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 35px;
    color: #5D7079;
}





.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    margin: 10px auto 0px;
    
  
}
.section-2 .container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
   
    gap: 40px;
}   
.padding-sotto {
    padding-bottom: 100px;
}

.section-2 .container-2 .col-50 {
    width: 50%;
}
.back-img {
    background-image: url('../img/chi-siamo-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.back-img-seconda {
    background-image: url('../img/back-3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.col-title {
    font-weight: 400;
font-size: 22px;
color: #2C333A;
padding-bottom: 20px;

}
.section-2 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 25px;
    color: #5D7079;
}
.col-testo {
    border: 1px solid #D3D3D3;
    padding: 25px 45px 35px;
}




.section-2b {
padding-top: 50px;
padding-bottom: 50px;
}


.title-missione::before {
    content: url(../img/ico-missione.svg);
    margin-right: 12px;
    position: relative;
    top: 3px;
}

.title-magazzino::before {
    content: url(../img/ico-magazzino.svg);
    margin-right: 12px;
    position: relative;
    top: 3px;
}

.tasto-informazioni a {
    color: #fff;
    font-weight: 400!important;
    padding: 9px 40px;
    font-size: 14px!important;
    border-radius: 20px;
    background-color: #018762;
    border: 0px solid #BABABA;
    cursor: pointer;
    text-decoration: none;
}
.tasto-informazioni a:hover{
    background-color: #004A36;
}

.tasto-download a{
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #2C333A;
}
.tasto-download a:hover {
    text-decoration: underline;
}
.tasto-download a::before {
    content: url(../img/ico-scarica-azienda.svg);
    margin-right: 7px;
    position: relative;
    top: 2px;
   
    
}
.titolo-chi-siamo::before {
    content: url(../img/logo-bianco.png);
    margin-right: 7px;
    position: relative;
    top: 2px;
}


.section-3 {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    margin: 10px auto 10px;
    background-image: url('../img/banner-chi-siamo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px 40px;
}
.section-3 .container-3 {
    width: 100%;
background: rgba(61, 116, 166, 0.8);
    padding: 45px;
}    

.titolo-sezione-3 {
    font-size: 22px;
    font-weight: 400;
    
  
    color: #fff;
    
}


















/* ----------------------------------------------media desk---------------------------------------------------------------- */
@media only screen and (min-width: 1281px) {
   
 }
 
/* ----------------------------------------------media notebook---------------------------------------------------------------- */
 @media only screen and (min-width: 1090px) and (max-width: 1280px){
 
 }

 /* ----------------------------------------------media tablet---------------------------------------------------------------- */
@media only screen and (min-width: 701px) and (max-width: 1089px){
    .section-2 .container-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .section-2 .container-2 .col-50 {
        
        width: 100%;
    
    }
    
    .section-3 .container-3 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }  
    .section-3 .container-3 .col-50 {
        
        width: 100%;
    }
    .back-img {
        height: 50vh;
    }
    

.section-2b {
    padding-top: 0px;
    padding-bottom: 50px;
    }
    
}    
  
/* ----------------------------------------------media mobile---------------------------------------------------------------- */
@media only screen and (max-width: 700px) {
    .section-2 .container-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .section-2 .container-2 .col-50 {
        
        width: 100%;
    }
 
    .section-3 .container-3 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }  
    .section-3 .container-3 .col-50 {
       
        width: 100%;
    }
  
    .box-distribution {
        width: 100%;
        
    }
    .back-img {
        height: 50vh;
    }
    

.section-2b {
    padding-top: 0px;
    padding-bottom: 50px;
    }
    .section-1 .container-1 {
        width: 100%;
        padding: 20px;
    }
    .col-testo {
        padding: 20px 15px 35px;
    }
    .section-3 .container-3 {
        padding: 20px;
    }
    .titolo-sezione-3 {
        font-size: 18px;
    }
}    